html{
	width: 100%;
}

* {
	box-sizing: border-box;
}
h1,h2,h3,h4,h4,h6,div,span {
	font-family: 'Noto Sans TC', sans-serif, Microsoft JhengHei;
	font-weight: 100;	
}


<!--CSS-->
.navfont{
	font-family: 'Noto Sans TC';
	font-weight: 100;
	margin-top: 60px;
}

.nav-link{
	color: #000;
}
.nav.nav-tabs{
	margin-top: -40px;
	margin-left: 250px;
	padding-bottom: -5px;
}

.logo{
	margin-top: 20px;
	margin-left: 20px; 
}

.banner .container-fluid {
	padding:0!important;
}

.postertitle{
	margin-bottom: -3px;
}
.title{
	width:auto;
	height:50px;
	margin-top: 50px;
	font-size: 24px;
	font-weight: 500;
}

.jazzmockup{
	width: 660px;
	height: 467px;
}
.boxmockup{
	width: 660px;
	height: 467px;
}

.postertitle{
	font-weight: 500;
	font-size: 20px;
}

.aboutcontactme{
	margin-top: 80px;
	background:linear-gradient(#ffffff,#E8E8D0);
}

.mee{
	background: #CECEFF;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 80px;

}


.myname{
	font-weight: 700;
	font-size: 24px;
	margin-top: 20px;
}

.aboutmetext{
	width: 485px;
	font-weight: 300;
}

.contact .form {
	max-width: 600px;
	margin:0 auto;
	padding: 0 30px;
	color:#ffffff;
}
.contact {
	height:750px;
	padding-top: 100px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}



.contact .form {
	max-width: 600px;
	margin:0 auto;
	padding: 0 30px;
	color:#ffffff;
}

.form input {
	height: 40px;
	width: 100%;
	background-color:#DEDEBE;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

.form textarea {
	height: 200px;
	width: 100%;
	background-color:#DEDEBE;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000;
	margin:7.5px 0;
}

input[type=submit] {
  background-color:#D6D6AD;
  color:#5B5B5B;
  cursor: pointer;
  width: 100px!important;
  height: 48px;
}

input[type=submit]:hover {
  background-color:#707038;
  color:white;
}

.copy{
	justify-content: center;
	align-content: center;
	margin-left: 650px;
	padding-bottom: 10px;
	font-size: 12px;
}